* {
  background-color: #040a04;
  color: #00b400;
  text-shadow: rgba(0, 255, 0, 0.5) 0px 0px 10px;
}

body {
  font-family: Courier, monospace;
  padding: 3em;
  filter: blur(0.05em);
}

h2 {
  font-size: larger;
  text-decoration: underline;
}

.danger {
  color: #b40000;
  text-shadow: rgba(255, 0, 0, 1) 0px 0px 10px;
}

.warning {
  color: #b4b400;
  text-shadow: rgba(255, 255, 0, 0.8) 0px 0px 10px;
}

.attribute {
  margin: 1em;
}

#attributes {
  display: flex;
}
